@use "sass:map";
@use "../abstracts/variables" as *;

@mixin centerFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin gridBTN {
  display: grid;
  align-items: start;
}

@mixin mediaQ($size) {
  $width: map.get($breakpoints, $size);
  @media (min-width: $width) {
    @content;
  }
}
