@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;

.wrap {
  padding: 0 0.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh 40vh 1fr;
  gap: 1rem;
  min-height: 100vh;
  min-width: 280px;
  color: $color_font;
  background-color: $color_background;
  overflow: hidden;
}

main {
  @include centerFlex;
  grid-column-start: 1;
  grid-column-end: 3;
  min-height: 100px;
  background-color: $color_watchBGC;
}

.watch {
  text-align: center;
  .numbers {
    font-size: 3rem;
    color: $color_watch;
    @include mediaQ(small) {
      font-size: 6.5em;
    }
    @include mediaQ(large) {
      font-size: 9em;
    }
  }
  .warning {
    opacity: 0;
    font-size: 1rem;
    color: $color_warning;
    @include mediaQ(small) {
      margin-top: -1em;
      font-size: 2.6em;
    }
  }
  .visible {
    opacity: 1;
  }
}

.center {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 0;
  font-size: 1.2em;
  @include mediaQ(small) {
    font-size: 2em;
  }
  @include mediaQ(medium) {
    font-size: 2.5em;
  }
  @include mediaQ(large) {
    font-size: 3.5em;
  }
}
.buttons {
  @include gridBTN;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: max-content;
}
.scores {
  @include gridBTN;
  text-align: center;
  @include mediaQ(small) {
    margin-left: 25%;
  }
}
