@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

.wrap {
  padding: 0 0.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh 40vh 1fr;
  gap: 1rem;
  min-height: 100vh;
  color: $color_font;
  background-color: $color_background;
  overflow: hidden;
}

main {
  @include centerFlex;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: $color_watchBGC;
}

.watch {
  text-align: center;
  .numbers {
    font-size: 3rem;
    color: $color_watch;
  }
  .warning {
    opacity: 0;
    font-size: 1rem;
    color: $color_warning;
  }
  .visible {
    opacity: 1;
  }
}

.buttons {
  @include gridBTN;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: max-content;
}
.scores {
  @include gridBTN;
  grid-template-rows: 5vh 1fr;
  font-size: 0.8rem;
  text-align: center;
}
.center {
  padding: 0;
}
